.numField {
    background-color: black;
    color: white;
}

.separation-right {
    margin-bottom: 1em; 
}


.separation {
    margin-bottom: 1em; 
}


.separation-row {
    margin-bottom: 1em; 
    margin-top: 1em; 
}

.separation-center {
    margin-left: 1em;
    margin-right: 1em;
}

.separation-menu {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.5em;
}


.separation-all {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em; 
    margin-top: 1em; 

}

.icon-sep {
    margin-left: 1em;    
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


.separation-bot {
    margin-bottom: 1em; 
}

.button-separation {
    margin-bottom: 0.3em; 
}

.separation-top {
    margin-top: 1em;
    margin-bottom: 0.1em; 

}

.separation-top2 {
    margin-top: 2em;

}

.separation-btn {
    margin-left: 0.1em;
    margin-right: 0.1em;
}


.separation-btn-right {
    margin-right: 0.1em;
    font-size: 1em;
}
